.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: azure;
  justify-content: center;
  align-items: center;
}

input[type="search"] {
  width: 300px;
  padding: 8px 16px;
  margin-bottom: 20px;
}

select {
}
