table {
  width: 100%;
  background-color: white;
  border-collapse: collapse;
  overflow-y: hidden;
}

td,
th {
  border: 1px solid skyblue;
  padding: 8px;
}

.select-col {
  width: 10%;
}

.numeric-col {
  text-align: right;
}

.select-col {
  text-align: center;
}

.data-row:hover {
  box-shadow: 0px 0px 5px skyblue;
  cursor: pointer;
}

.not-found {
  text-align: center;
}
